body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5em;
    font-family: "Lato", sans-serif;
    color: #767e9e;
    background-color: white;
  }

  .container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }

  .portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    padding: 0 40px;
  }

  .portfolio__title {
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 25px;
    vertical-align: bottom;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin-bottom: 8px;
  }

  .portfolio__nav {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 19px;
    padding-left: 0;
  }

  .portfolio__nav button {
    border-radius: 5px;
    background:  transparent;
    border: 1px solid #666d89;
    font-size: 12px;
    color: #767e9e;
    font-weight: 400;
    margin-right: 10px;
    height: 22px;
    letter-spacing: -0.55px;
  }

  .portfolio__nav button:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
  }
  

  .portfolio__works {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
  }

  .portfolio__work9 {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 3; 
    grid-row-end: 4; 
  }

  .portfolio__work10 {
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 3; 
    grid-row-end: 4; 
  }

  .portfolio__work11 {
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4; 
  }

  .portfolio__work12 {
    grid-column-start: 4; 
    grid-column-end: 5; 
    grid-row-start: 3; 
    grid-row-end: 4; 
  }

  .about-us {
    height: 734px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
    padding: 65px 40px 0 40px;
  }

  .about-us__title {
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    margin-top:0;
    margin-bottom: 25px;
  }

  .about-us__text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin-bottom: 44px;
  }

  .about-us__artists {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 300px 300px 300px;
  }
  
  .about-us__artist-photo {
    width: 300px;
    height: 300px;
    background-color: #464b5e;
  }

  .about-us__artist-name {
    margin-top: 8px;
    margin-bottom: 7px;
    font-size: 18px;
    color: #666d89;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .about-us__artist-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 22px;
  }

  .social__button {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    color: transparent;
    background-position: center;
    border-radius: 16px;
    border: 1px solid #666d89;
    background-repeat: no-repeat;
  }

  .social__button-facebook {
    background-image: url(/assets/\ facebook.png);
  }

  .social__button-google {
    background-image: url(/assets/\ google+.png);
  }

  .social__button-twitter {
    background-image: url(/assets/\ twitter.png);
  }

  .social__button-linkedin {
    background-image: url(/assets/\ linkedin.png);
  }

  .social__button:hover {
    border: 1px solid #323746;
  }